@model ScenariosExplorer.Models.ProposalExampleModel

<a href="/scenarios/@Model.ParentScenario.Id/proposals/@Model.ProposalId#solution" class="scenario-list-item">
    <h4>@Model.Info.Title</h4>
</a>