@model ScenariosExplorer.Models.ProposalModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>
<div>
    @Html.ActionLink("Edit", "EditProposal", new { id = Model.Id })
</div>

<div>
    <hr />

    <markdown content="@Model.Contents"></markdown>
</div>

<hr />